.idea
bower_components
test/**/*.js.map
test/**/*.js
src/**/*.js.map
src/**/*.js
.bower-cache
.bower-registry
npm-debug.log
build/
scripts/
dump/*.json
dump/*.txt
circuits/*.txt
test/fixtures/circuitRenders/**/*.png
test/fixtures/**/*.json
.env

