.idea
test/**/*.js.map
src/**/*.js.map
.bower-cache
.bower-registry
npm-debug.log
build/
scripts/
dump/*.json
dump/*.txt
circuits/*.txt
test/fixtures/circuitDumps
test/fixtures/circuitRenders/**/*.png
test/fixtures/componentRenders/**/*.png
test/fixtures/**/*.json
circuits/v2/
.env
**/*.map
*.graffle
