block body
  .row-fluid
    .span12
      #mocha

      a#run_tests(href="") Rerun Tests
      //
      //script
      //  (function runTests() {
      //    "use strict";
      //
      //    mocha.setup('bdd');
      //    require([
      //      'test/_helper',
      //      'cs!CircuitTest',
      //      'cs!ResistorTest',
      //      'cs!VoltageElmTest',
      //      'cs!GroundTest',
      //      'cs!WireTest',
      //      'cs!CapacitorTest',
      //      'cs!ComponentTest',
      //      'cs!ComponentNodeLinkTest',
      //      'cs!ComponentNodeTest',
      //      'cs!CircuitSolverTest',
      //      'cs!MatrixSolverTest',
      //      'cs!CircuitStamperTest',
      //      'cs!ArraysTest',
      //      'cs!FormatsTest',
      //      'cs!MathTest',
      //      'cs!UnitsTest',
      //      'cs!UnitsTest',
      //      'cs!PrimitivesTest',
      //      'cs!AjaxTest',
      //      'cs!CircuitLoaderTest',
      //      'cs!voltdivideIntegration',
      //      'cs!observerTest'
      //    ], function () {
      //      "use strict";
      //      mocha.run();
      //    });
      //  })();
      //

