extends layout

block body
  div.row.full
    div.large-2.columns
      div.section-container.vertical-nav
      each circuit in circuits
        section.section
          p.title
            a.circuit-link(href="#") #{circuit}

    div.large-8.columns
      h5= circuit_name || "voltdividesimple"
      #container
        canvas.maxwell(data-circuit="spark-sawtooth", width="1600", height="3000")

    div.large-2.columns

//block circuit
//  p= "something"
