!!! 5
html
  head
    title="Maxwell"

    link(rel='stylesheet', href='views/css/mocha.css')
    link(rel='stylesheet', href='views/css/theme.css')
    link(rel="stylesheet", href='bower_components/jquery-ui/themes/smoothness/jquery-ui.min.css')
    link(rel='stylesheet', href='bower_components/rickshaw/rickshaw.css')

    script(type="text/javascript", src="bower_components/dat.gui/dat.gui.js")
    script(type="text/javascript", src="bower_components/jquery/dist/jquery.js")
    script(type="text/javascript", src="bower_components/jquery-ui/jquery-ui.js")
    script(type="text/javascript", src="bower_components/sketch.js/js/sketch.js")
    script(type="text/javascript", src="bower_components/d3/d3.js")
    script(type="text/javascript", src="bower_components/underscore/underscore.js")
    script(type="text/javascript", src="bower_components/rickshaw/rickshaw.js")

    script(type="text/javascript", src="bower_components/chai/chai.js")
    script(type="text/javascript", src="bower_components/mocha/mocha.js")
    script(type="text/javascript", data-main="../main", src="bower_components/requirejs/require.js")

    script
      document.write('<script src="http://' + (location.host || 'localhost' ).split(':')[0] + ':35729/livereload.js?snipver=1"></' + 'script>')
  body
    block body
