!!! 5
html
  head
    title="Maxwell"
    link(rel='stylesheet', href='/css/mocha.css')
    link(rel='stylesheet', href='/css/foundation.css')
    link(rel='stylesheet', href='/css/normalize.css')
    link(rel='stylesheet', href='/css/theme.css')
    link(rel='stylesheet', href='/css/maxwell.css')
    link(rel="stylesheet", href='/bower_components/jquery-ui/themes/smoothness/jquery-ui.min.css')
    link(rel='stylesheet', href='/bower_components/rickshaw/rickshaw.css')

    script(type="text/javascript", src="./bower_components/dat.gui/dat.gui.js")
    script(type="text/javascript", src="./bower_components/jquery/dist/jquery.js")
    script(type="text/javascript", src="./bower_components/jquery-ui/jquery-ui.js")
    script(type="text/javascript", src="./bower_components/sketch.js/js/sketch.js")
    script(type="text/javascript", src="./bower_components/d3/d3.js")
    script(type="text/javascript", src="./bower_components/rickshaw/rickshaw.js")
    script(type="text/javascript", src="./bower_components/lodash/dist/lodash.js")

    script(type="text/javascript", src="./bower_components/lodash/dist/lodash.js")
    script(type="text/javascript", src="./bower_components/angular/angular.js")
    script(type="text/javascript", src="./bower_components/angular-resource/angular-resource.js")
    script(type="text/javascript", src="./bower_components/angular-route/angular-route.js")

    script(type="text/javascript", src="./bower_components/chai/chai.js")
    script(type="text/javascript", src="./bower_components/mocha/mocha.js")
    script(type="text/javascript", data-main="../main", src="/javascripts/require.js")

  body
    include _header

  block body
