!!! 5
html
  head
    title=circuit_name
    link(rel='stylesheet', href='/css/mocha.css')
    link(rel='stylesheet', href='/css/foundation.css')
    link(rel='stylesheet', href='/css/normalize.css')
    link(rel='stylesheet', href='/css/theme.css')
    link(rel='stylesheet', href='/css/maxwell.css')

    script(type="text/javascript", src="/javascripts/chai.js")
    script(type="text/javascript", src="/javascripts/mocha.js")
    script(type="text/javascript", src="/javascripts/vendor/custom.modernizr.js")
    script(type="text/javascript", data-main="../main", src="/javascripts/require.js")

  body
    include _header

    div.row.full
      div.large-2.columns
        div.section-container.vertical-nav
          each circuit in circuits
            section.section
              p.title
                a.circuit-link(href="#") #{circuit}

      div.large-8.columns
        h5= circuit_name || "voltdividesimple"
        #container
          canvas.maxwell(data-circuit="voltdividesimple", width="800", height="500")

      div.large-2.columns

  block body

  .row-fluid
    .span8.offset2
      a.btn
        i.icon-play
      a.btn
        i.icon-pause
      a.btn
        i.icon-stop
      img.img-circle(src="http://placehold.it/30x30")


    include _mocha_tests

    | <script>
    |   document.write('<script src=' +
    |   ('__proto__' in {} ? 'javascripts/vendor/zepto' : 'javascripts/vendor/jquery') +
    |   '.js><\/script>')
    |   </script>
    |   <script src="javascripts/foundation/foundation.js"></script>
    |   <script src="javascripts/foundation/foundation.alerts.js"></script>
    |   <script src="javascripts/foundation/foundation.clearing.js"></script>
    |   <script src="javascripts/foundation/foundation.cookie.js"></script>
    |   <script src="javascripts/foundation/foundation.dropdown.js"></script>
    |   <script src="javascripts/foundation/foundation.forms.js"></script>
    |   <script src="javascripts/foundation/foundation.joyride.js"></script>
    |   <script src="javascripts/foundation/foundation.magellan.js"></script>
    |   <script src="javascripts/foundation/foundation.orbit.js"></script>
    |   <script src="javascripts/foundation/foundation.placeholder.js"></script>
    |   <script src="javascripts/foundation/foundation.reveal.js"></script>
    |   <script src="javascripts/foundation/foundation.section.js"></script>
    |   <script src="javascripts/foundation/foundation.tooltips.js"></script>
    |   <script src="javascripts/foundation/foundation.topbar.js"></script>
    |   <script>
    |   //$(document).foundation();
    | </script>