!!! 5
html
  head
    title=circuit_name
    link(rel='stylesheet', href='/css/mocha.css')
    link(rel='stylesheet', href='/css/foundation.css')
    link(rel='stylesheet', href='/css/normalize.css')
    link(rel='stylesheet', href='/css/theme.css')
    link(rel='stylesheet', href='/css/maxwell.css')

    script(type="text/javascript", src="/javascripts/chai.js")
    script(type="text/javascript", src="/javascripts/mocha.js")
    script(type="text/javascript", src="/javascripts/vendor/custom.modernizr.js")
    script(type="text/javascript", data-main="../main", src="/javascripts/require.js")

  body
    include _header

    div.row.full
      div.large-2.columns
        div.section-container.vertical-nav
          each circuit in circuits
            section.section
              p.title
                a.circuit-link(href="#") #{circuit}

      div.large-8.columns
        h5= circuit_name || "voltdividesimple"
        #container
          canvas.maxwell(data-circuit="capac", width="1600", height="3000")

      div.large-2.columns

  block body

  .row-fluid
    .span8.offset2
      a.btn
        i.icon-play
      a.btn
        i.icon-pause
      a.btn
        i.icon-stop
      img.img-circle(src="http://placehold.it/30x30")


    include _mocha_tests
