.maxwell {
    background-color: white;
    /*width: 100%;*/
}

.maxwell-oscope {
    position: absolute;
    left: 500px;
}

#renderer_form input {
    display: block;
}

#renderer_form label {
    display: inline-block;
}

#content.scope {
    position: absolute;
    height: 0;
}
