body {
    padding: 0;
    margin: 0;
    background-color: #c3c3c3;
}

#mocha {
    background: white;
}

.ui.vertical.menu .menu .item {
  font-size: 10px;
  padding-top: 0.1em;
  padding-bottom: 0.1em;
}

.canvas-container {
  position: relative;
}

.float-left {
  float: left;
}

.float-right {
  float: right;
}

.inline-block {
  display: inline: block;;
}

canvas {
  color: red;
  border: 1px solid grey;
  background-color: transparent;
}

.maxwell {
  background-color: transparent;
  position: absolute;
  z-index: 2;
}

.ui.menu {
  margin: 0 !important;
}

canvas.grid {
  position: relative;
  z-index: 1;
  background-color: lightblue;
}

#sidenav ul li a {
  font-size: 10px;
  /*line-height: 10px;*/
  margin: 0;
  padding-left: 5px;
  line-height: 12px;
  display: block;
}

#sidenav ul li {
  margin: 0;
  padding: 0;
  height: 12px;
}

.circuit-icon {
  height: 20px;
  width: auto;
}

#sidenav ul li:nth-child(odd) {
  background-color: #f5f5f5;
}

.col-md-1 {
  padding: 0px !important;
}

.ui.mini.button {
  padding-top: 3px;
  padding-bottom: 3px;
}

.ui.slider.range input[type="range"] {
  -webkit-appearance: none;
  border-width: 1px;
  border-style: solid;
  border-radius: 50rem;
  border-color: rgba(0, 0, 0, 0.1);
  padding: 3px 5px;
  outline: none;
}

.ui.slider.range input[type="range"]::-moz-range-track {
  background: none;
  border: none;
  outline: none;
}

.ui.slider.range input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none;
  outline: none;
  background: #89B84C;
  border-radius: 50rem;
  height: 0.7em;
  width: 0.7em;
}

.ui.slider.range input[type="range"]::-moz-range-thumb {
  outline: none;
  background: #89B84C;
  border-color: #89B84C;
  border-radius: 50rem;
  height: 0.7em;
  width: 0.7em;
}

/*input[type="range"] {*/
  /*-webkit-appearance: none;*/

  /*border-width: 1px;*/
  /*border-style: solid;*/
  /*border-radius: 50rem;*/
  /*border-color: rgba(0, 0, 0, 0.1);*/
  /*padding: 3px 5px;*/
/*}*/

/*input[type="range"]::-webkit-slider-thumb {*/
  /*-webkit-appearance: none;*/

  /*background: #89B84C;*/
  /*border-radius: 50rem;*/
  /*height: 0.7em;*/
  /*width: 0.7em;*/
/*}*/
