doctype
html
  head
    title="Maxwell"

    meta(http-equiv="content-type", content="text/html; charset=UTF8")

    link(rel='stylesheet', href='theme.css')
    link(rel='stylesheet', href='/bower_components/rickshaw/rickshaw.css')
    //link(rel='stylesheet', href='bower_components/bootstrap/dist/css/bootstrap.css')
    link(rel="stylesheet", href="/bower_components/semantic/dist/semantic.min.css")

    script(type="text/javascript", src="/bower_components/jquery/dist/jquery.js")
    script(type="text/javascript", src="/bower_components/jquery-ui/jquery-ui.js")
    script(type="text/javascript", src="/bower_components/sketch.js/js/sketch.js")
    script(type="text/javascript", src="/bower_components/lodash/lodash.js")
    script(type="text/javascript", src="/bower_components/d3/d3.js")
    script(type="text/javascript", src="/bower_components/rickshaw/rickshaw.js")
    //script(type='text/javascript', src='bower_components/bootstrap/dist/js/bootstrap.js')
    script(type="text/javascript", src="/bower_components/semantic/dist/semantic.min.js")

    script(type="text/javascript", src="/dist/bundle.js")
    script(type="text/javascript", src="/plot.js")

    block header

  body
    block content

