doctype
html
  head
    title="Maxwell"

    meta(http-equiv="content-type", content="text/html; charset=UTF8")

    link(rel='stylesheet', href='/bower_components/rickshaw/rickshaw.css')
    //link(rel='stylesheet', href='bower_components/bootstrap/dist/css/bootstrap.css')
    //link(rel="stylesheet", href="/bower_components/semantic/dist/semantic.min.css")
    link(rel="stylesheet", href="/bower_components/jquery-ui/themes/base/all.css")

    script(type="text/javascript", src="/bower_components/jquery/dist/jquery.js")
    script(type="text/javascript", src="/jquery-ui.js")
    //script(type="text/javascript", src="/bower_components/jquery-ui/ui/jquery-1-7.js")
    //script(type="text/javascript", src="/bower_components/jquery-ui/ui/plugin.js")
    //script(type="text/javascript", src="/bower_components/jquery-ui/ui/widget.js")
    //script(type="text/javascript", src="/bower_components/jquery-ui/ui/widgets/mouse.js")
    //script(type="text/javascript", src="/bower_components/jquery-ui/ui/widgets/draggable.js")
    script(type="text/javascript", src="/bower_components/sketch.js/js/sketch.js")
    script(type="text/javascript", src="/bower_components/lodash/lodash.js")
    script(type="text/javascript", src="/bower_components/d3/d3.js")
    script(type="text/javascript", src="/bower_components/rickshaw/rickshaw.js")
    //script(type='text/javascript', src='bower_components/bootstrap/dist/js/bootstrap.js')
    script(type="text/javascript", src="/bower_components/semantic/dist/semantic.min.js")

    script(type="text/javascript", src="/dist/bundle.js")
    script(type="text/javascript", src="/plot.js")
    script(type="text/javascript", src="/ui-helpers.js")

    document.write('<script src="http://' + (location.host || 'localhost').split(':')[0] + ':35729/livereload.js?snipver=1"></' + 'script>')

    block header

  body
    block content
