extends ./layout

block header

  script.
    script.
      $(document).ready(function (event) {
        var plotter = new Plotter("chart_container");

        setInterval(function() {
          t = 2 * Math.PI * ((Date.now() % 10000) / 10000);

           plotter.addData(100 * Math.sin(t));
        }, 20);
      });


block content
  .ui.menu
    .ui.dropdown.item
      | Circuit
      i.dropdown.icon
      .menu
        a.item
          span.description ctrl + s
          | Save
        a.item
          i.folder.icon
          | Permalink
        a.item Export to SPICE
        a.item Export to JSON
    .ui.dropdown.item
      | Components
      i.dropdown.icon
      .menu
        a.item First
        a.item Second
        a.item Third
    .ui.dropdown.item
      | Sample Circuits
      i.dropdown.icon
      .menu
        a.item First
        a.item Second
        a.item Third

  div
    #circuit_sidebar.ui.sidebar.thin.left.vertical.menu.visible
      .item
        .header Circuits
        .menu
          a.item(href="/") Items

    #component_sidebar.ui.sidebar.right.vertical.menu.visible
      .item
        .header Circuits
        .menu
          a.item(href="/")= "circuits"

    #edit_sidebar.ui.bottom.sidebar.visible
      div(style="height: 200px; border: 1px solid #FF00FF; margin-left: 150px;")

    .pusher
      .canvas-container(style="margin-left: 150px; width: 100%;")
        #legend
        #chart_container.draggable.ui-widget-content
          #chart.rickshaw_graph
          #legend_container
            #smoother(title="Smoothing")
          #slider
          #timeline
          #preview
        canvas.maxwell(data-circuit="circuit", width="800", height="600")
        canvas.grid(width="800", height="600")
