extends ./layout

block header

  script.
    $(document).ready(function (event) {
      var plotter = new Plotter("chart_container");

      setInterval(function() {
        t = 2 * Math.PI * ((Date.now() % 10000) / 10000);

         plotter.addData(100 * Math.sin(t));
      }, 20);
    });


block content

  .pusher
    #chart_container.draggable.ui-widget-content
      #chart.rickshaw_graph
      #legend_container
        #smoother(title="Smoothing")
      #slider
      #timeline
      #preview
