extends ./layout

block header
  link(rel="stylesheet", href="/ui.css")
  link(rel="stylesheet", href="/foundation/css/app.css")

  script(type="text/javascript", src="/bower_components/foundation-sites/dist/js/foundation.js")

  script.
    $(document).ready(function() {
      var canvas = document.getElementById('canvas');

      if (canvas) {
        var ctx = canvas.getContext('2d');
        ctx = Sketch.augment(ctx, { autoclear: false });

        ctx.beginPath();
        ctx.arc(500, 500, 10, 0, 2 * Math.PI);
        ctx.strokeStyle = "#FF0000";
        ctx.fillStyle = "#00FF00";
        ctx.strokeRect(800, 900, 1800, 1900);
        ctx.fillText("ASDF", 1500, 1200);
        ctx.fill();

        // resize the canvas to fill browser window dynamically
        window.addEventListener('resize', resizeCanvas, false);

        function resizeCanvas() {
          canvas.width = window.innerWidth;
          canvas.height = window.innerHeight;

          /**
           * Your drawings need to be inside this function otherwise they will be reset when
           * you resize the browser window and the canvas goes will be cleared.
           */
          drawStuff();
        }

        resizeCanvas();

        function drawStuff() {
          // do your drawing stuff here
          ctx.beginPath();
          ctx.arc(Math.random(ctx.width), Math.random(ctx.height), 10, 0, 2 * Math.PI);
          ctx.arc(500 * Math.random(), 500 * Math.random(), 10, 0, 2 * Math.PI);
          ctx.arc(500, 500, 10, 0, 2 * Math.PI);
          ctx.strokeStyle="#FF0000";
          ctx.fillStyle="#00FF00";
          ctx.strokeRect(800, 900, 1800, 1900);
          ctx.fillText("ASDF", 1500, 1200);
          ctx.fill();
        }

        drawStuff();
      }
    });

block content
  canvas#canvas

  #main_nav.top-bar
    .top-bar-left
      ul.dropdown.menu(data-dropdown-menu='', data-multi-open=false)
        li.menu-text Maxwell
        li
          a(href='#') Circuit
          ul.menu.vertical
            li
              a(href='#') One
            li
              a(href='#') Two
              ul.menu.vertical
                li
                  a(href='#') One
                li
                  a(href='#') Two
                li
                  a(href='#') Three
            li
              a(href='#') Three
        li
          a(href='#') Edit
        li
          a(href='#') Sample Circuits
    .top-bar-right
      ul.menu
        li
          input(type='search', placeholder='Search')
        li
          button.button(type='button') Search

  div.edit-form
    form

      label
        | How many puppies?
        .input-group

          input.input-group-field(type='number', value='100')
          span.input-group-label V
      p#passwordHelpText.help-text Your password must least 10 char and an Emoji.

      label
        | How many puppies?
        input(type='number', value='100')
      p#passwordHelpText.help-text Your password must have at least 10 characters, a number, and an Emoji.

      label
        | Select Menu
        select
          option(value='husker') Husker
          option(value='starbuck') Starbuck
          option(value='hotdog') Hot Dog
          option(value='apollo') Apollo
      p#passwordHelpText.help-text Your password must have at least 10 characters


      input#checkbox12(type='checkbox')
      label(for='checkbox12') Checkbox 1
      p.help-text Your password must have at least 10 characters

      input#checkbox12(type='checkbox')
      label(for='checkbox12') Checkbox 1
      p.help-text

      fieldset.fieldset
        legend How many puppies?
        .slider-container
          .small-8.columns
            .slider(data-slider='', data-initial-start='50', data-step='5')
              span.slider-handle(data-slider-handle='', role='slider', tabindex='1', aria-controls='sliderOutput2')
              span.slider-fill(data-slider-fill='')

          .small-4.columns
            input#sliderOutput2(type='number')

          .clearfix

      .switch.tiny
        input#tinySwitch.switch-input(type='checkbox', name='exampleSwitch')
        label.switch-paddle(for='tinySwitch')
          //span Tiny Sandwiches Enabled
          //span.show-for-sr Tiny Sandwiches Enabled
        span.switch-label(for='tinySwitch') Switch
      p.help-text Your password must have at least 10 characters

      .slider-container
        .small-8.columns
          .slider(data-slider='', data-initial-start='50', data-step='5')
            span.slider-handle(data-slider-handle='', role='slider', tabindex='1', aria-controls='sliderOutput2')
            span.slider-fill(data-slider-fill='')

        .small-4.columns
          input#sliderOutput2(type='number')

        .clearfix

      div
        .row
          .switch.tiny
            input#tinySwitch.switch-input(type='checkbox', name='exampleSwitch')
            label.switch-paddle(for='tinySwitch')
              //span Tiny Sandwiches Enabled
              //span.show-for-sr Tiny Sandwiches Enabled
            span.switch-label(for='tinySwitch') Switch


    //ul.vertical.menu(data-accordion-menu, data-multi-open="false")
      li
        a(href='#') Item 1
        ul.menu.vertical.nested
          li
            a(href='#') Item 1A
          li
            a(href='#') Item 1B
      li
        a(href='#') Item 2
        ul.menu.vertical.nested
          li
            a(href='#') Item 1A
          li
            a(href='#') Item 1B


  //.off-canvas-wrapper
    #offCanvasLeft.off-canvas-absolute.position-left.is-open(data-off-canvas='')
      form
        .row
          .medium-6.columns
            label
              | Input Label
              input(type='text', placeholder='.medium-6.columns')
              p#passwordHelpText.help-text Your password must have at least 10 characters, a number, and an Emoji.

          .medium-6.columns
            label
              | Input Label
              input(type='text', placeholder='.medium-6.columns')
              p#passwordHelpText.help-text Your password must have at least 10 characters, a number, and an Emoji.


        .row
          label
            | How many puppies?
            input(type='number', value='100')
            p#passwordHelpText.help-text Your password must have at least 10 characters, a number, and an Emoji.


        .row
          label
            | Select Menu
            select
              option(value='husker') Husker
              option(value='starbuck') Starbuck
              option(value='hotdog') Hot Dog
              option(value='apollo') Apollo

        .row
          fieldset.fieldset
            legend Check these out
            input#checkbox12(type='checkbox')
            label(for='checkbox12') Checkbox 1
            input#checkbox22(type='checkbox')
            label(for='checkbox22') Checkbox 2
            input#checkbox32(type='checkbox')
            label(for='checkbox32') Checkbox 3


    .off-canvas-content
      button.button.float-left(type='button', data-toggle='offCanvasLeft') Open Left


  #offCanvasRight.off-canvas.position-right(data-off-canvas='')
    form
      .row
        label
          | How many puppies?
          input(type='number', value='100')
          p#passwordHelpText.help-text Your password must have at least 10 characters, a number, and an Emoji.

        label
          | How many puppies?
          input(type='number', value='100')
          p#passwordHelpText.help-text Your password must have at least 10 characters, a number, and an Emoji.

      .row
        label
          | Select Menu
          select
            option(value='husker') Husker
            option(value='starbuck') Starbuck
            option(value='hotdog') Hot Dog
            option(value='apollo') Apollo
        p#passwordHelpText.help-text Your password must have at least 10 characters, a number, and an Emoji.

      .row
        fieldset.fieldset
          legend Check these out
          input#checkbox12(type='checkbox')
          label(for='checkbox12') Checkbox 1

      .row
        .small-10.columns
          .slider(data-slider='', data-initial-start='50', data-step='5')
            span.slider-handle(data-slider-handle='', role='slider', tabindex='1', aria-controls='sliderOutput2')
            span.slider-fill(data-slider-fill='')
        .small-2.columns
          input#sliderOutput2(type='number')

      .row
        .slider(data-slider='', data-initial-start='25', data-initial-end='75')
          span.slider-handle(data-slider-handle='', role='slider', tabindex='1')
          span.slider-fill(data-slider-fill='')
          span.slider-handle(data-slider-handle='', role='slider', tabindex='1')
          input(type='hidden')
          input(type='hidden')


      .row
        .switch.tiny
          input#tinySwitch.switch-input(type='checkbox', name='exampleSwitch')
          label.switch-paddle(for='tinySwitch')
            span.show-for-sr Tiny Sandwiches Enabled

  .off-canvas-content
    button.button.float-right(type='button', data-toggle='offCanvasRight') Open Right



    //.off-canvas-wrapper
      #offCanvasLeft.off-canvas.position-left.is-transition-push.is-open(data-off-canvas='90k2mf-off-canvas', data-position='left', aria-hidden='false')
        button.close-button(aria-label='Close menu', type='button', data-close='')
          span(aria-hidden='true') ×
        ul.mobile-ofc.vertical.menu
          li
            a(href='http://zurb.com/responsive') Showcase
            ul.submenu.menu.vertical(data-submenu='')
              li
                a(href='http://zurb.com/responsive') Foundation Showcase
              li
                a(href='http://foundation.zurb.com/showcase/brands.html') Brands

          li
            a(href='http://foundation.zurb.com/develop/getting-started.html') Develop
            ul.submenu.menu.vertical(data-submenu='')
              li.title Frameworks
              li
                a(href='http://foundation.zurb.com/sites.html') Foundation for Sites
              li
                a(href='http://foundation.zurb.com/emails.html') Foundation for Email
              li.divider
              li.title Develop
              li
                a(href='http://foundation.zurb.com/templates.html') HTML Templates

          li
            a(href='http://foundation.zurb.com/learn/tutorials.html') Tutorials
            ul.submenu.menu.vertical(data-submenu='')
              li
                a(href='http://foundation.zurb.com/learn/tutorials.html') Tutorials
              li
                a(href='http://foundation.zurb.com/learn/classes.html') Classes

          li
            a(href='http://foundation.zurb.com/get-involved/support.html') Get Involved
            ul.submenu.menu.vertical(data-submenu='')
              li
                a(href='http://foundation.zurb.com/get-involved/support.html') Connect
              li
                a(href='http://foundation.zurb.com/get-involved/premium-support.html') PLZ Halp

          li
            a(href='http://foundation.zurb.com/frameworks-docs.html') Docs
            ul.submenu.menu.vertical(data-submenu='')
              li
                a(href='http://foundation.zurb.com/docs/', target='_blank') Sites Docs
              li
                a(href='http://zurb.com/ink/docs.php', target='_blank') Email Docs
          li
            a.button(href='http://foundation.zurb.com/develop/getting-started.html') Getting Started






  script.
    $(document).foundation();