extends ./layout

block header
  link(rel="stylesheet", href="/ui.css")

  link(rel="stylesheet", href="/bower_components/foundation-sites/dist/css/foundation.css")
  script(type="text/javascript", src="/bower_components/foundation-sites/dist/js/foundation.js")

  script.
    $(document).ready(function() {
      var canvas = document.getElementById('canvas');

      if (canvas) {
        context = canvas.getContext('2d');

        // resize the canvas to fill browser window dynamically
        window.addEventListener('resize', resizeCanvas, false);

        function resizeCanvas() {
          canvas.width = window.innerWidth;
          canvas.height = window.innerHeight;

          /**
           * Your drawings need to be inside this function otherwise they will be reset when
           * you resize the browser window and the canvas goes will be cleared.
           */
          drawStuff();
        }

        resizeCanvas();

        function drawStuff() {
          // do your drawing stuff here
        }
      }
    });

block content
  canvas#canvas

  .top-bar
    .top-bar-left
      ul.dropdown.menu(data-dropdown-menu='')
        li.menu-text Site Title
        li
          a(href='#') One
          ul.menu.vertical
            li
              a(href='#') One
            li
              a(href='#') Two
            li
              a(href='#') Three
        li
          a(href='#') Two
        li
          a(href='#') Three
    .top-bar-right
      ul.menu
        li
          input(type='search', placeholder='Search')
        li
          button.button(type='button') Search


    //.off-canvas-wrapper
      #offCanvasLeft.off-canvas.position-left.is-transition-push.is-open(data-off-canvas='90k2mf-off-canvas', data-position='left', aria-hidden='false')
        button.close-button(aria-label='Close menu', type='button', data-close='')
          span(aria-hidden='true') ×
        ul.mobile-ofc.vertical.menu
          li
            a(href='http://zurb.com/responsive') Showcase
            ul.submenu.menu.vertical(data-submenu='')
              li
                a(href='http://zurb.com/responsive') Foundation Showcase
              li
                a(href='http://foundation.zurb.com/showcase/brands.html') Brands

          li
            a(href='http://foundation.zurb.com/develop/getting-started.html') Develop
            ul.submenu.menu.vertical(data-submenu='')
              li.title Frameworks
              li
                a(href='http://foundation.zurb.com/sites.html') Foundation for Sites
              li
                a(href='http://foundation.zurb.com/emails.html') Foundation for Email
              li.divider
              li.title Develop
              li
                a(href='http://foundation.zurb.com/templates.html') HTML Templates

          li
            a(href='http://foundation.zurb.com/learn/tutorials.html') Tutorials
            ul.submenu.menu.vertical(data-submenu='')
              li
                a(href='http://foundation.zurb.com/learn/tutorials.html') Tutorials
              li
                a(href='http://foundation.zurb.com/learn/classes.html') Classes

          li
            a(href='http://foundation.zurb.com/get-involved/support.html') Get Involved
            ul.submenu.menu.vertical(data-submenu='')
              li
                a(href='http://foundation.zurb.com/get-involved/support.html') Connect
              li
                a(href='http://foundation.zurb.com/get-involved/premium-support.html') PLZ Halp

          li
            a(href='http://foundation.zurb.com/frameworks-docs.html') Docs
            ul.submenu.menu.vertical(data-submenu='')
              li
                a(href='http://foundation.zurb.com/docs/', target='_blank') Sites Docs
              li
                a(href='http://zurb.com/ink/docs.php', target='_blank') Email Docs
          li
            a.button(href='http://foundation.zurb.com/develop/getting-started.html') Getting Started







  .off-canvas-wrapper
    #offCanvasRight1.off-canvas.position-right(data-off-canvas='')

    .off-canvas-content
      button.button.float-right(type='button', data-toggle='offCanvasRight1') Open Right


  script.
    $(document).foundation();