extends ./layout

block header
  link(rel="stylesheet", href="/ui.css")
  link(rel="stylesheet", href="/foundation/css/app.css")

  script(type="text/javascript", src="/bower_components/foundation-sites/dist/js/foundation.js")

  script.
    $(document).ready(function() {
      $(document).foundation();

      var canvas = document.getElementById('canvas');


      Maxwell.createContext("ohms", "../circuits/v3/ohms.json", canvas, function (circuitContext) {
        //circuitContext

        // Selected components

        circuitContext.onSelectionChanged = function (selectedComponents) {
          console.log("SELECTED COMPONENTS", selectedComponents);
        };

        circuitContext.onComponentHover = function (component) {
          var form = Maxwell.renderEdit(component);

          //console.log(form);

          edit_pane = document.getElementById("edit_pane");

          edit_pane.innerHTML = "";
          edit_pane.append(form);
        };
      });


      if (canvas) {
        var ctx = canvas.getContext('2d');
        //ctx = Sketch.augment(ctx, {autoclear: false});

        // resize the canvas to fill browser window dynamically
        //window.addEventListener('resize', resizeCanvas, false);

        function resizeCanvas() {
          canvas.width = window.innerWidth;
          canvas.height = window.innerHeight;

          /**
           * Your drawings need to be inside this function otherwise they will be reset when
           * you resize the browser window and the canvas goes will be cleared.
           */
          drawStuff();
        }

        resizeCanvas();

        function drawStuff() {
          // draw updates on resize

          //ctx.style = "#F00";
          //ctx.fillRect(500, 500, 100, 200);
        }

        drawStuff();
      }
    });

block content
  canvas#canvas.maxwell

  #main_nav.top-bar
    .top-bar-left
      ul.dropdown.menu(data-dropdown-menu='', data-multi-open=false)
        li.menu-text Maxwell
        li
          a(href='#') Circuit
          ul.menu.vertical
            li
              a(href='#') One
            li
              a(href='#') Two
              ul.menu.vertical
                li
                  a(href='#') One
                li
                  a(href='#') Two
                li
                  a(href='#') Three
            li
              a(href='#') Three
        li
          a(href='#') Edit
        li
          a(href='#') Sample Circuits
    .top-bar-right
      ul.menu
        li
          input(type='search', placeholder='Search')
        li
          button.button(type='button') Search

  div#edit_pane.edit-form

    //ul.vertical.menu(data-accordion-menu, data-multi-open="false")
      li
        a(href='#') Item 1
        ul.menu.vertical.nested
          li
            a(href='#') Item 1A
          li
            a(href='#') Item 1B
      li
        a(href='#') Item 2
        ul.menu.vertical.nested
          li
            a(href='#') Item 1A
          li
            a(href='#') Item 1B

  #offCanvasRight.off-canvas.position-right(data-off-canvas='')
    form
      .row
        label
          | How many puppies?
          input(type='number', value='100')
          p#passwordHelpText.help-text Your password must have at least 10 characters, a number, and an Emoji.

        label
          | How many puppies?
          input(type='number', value='100')
          p#passwordHelpText.help-text Your password must have at least 10 characters, a number, and an Emoji.

      .row
        label
          | Select Menu
          select
            option(value='husker') Husker
            option(value='starbuck') Starbuck
            option(value='hotdog') Hot Dog
            option(value='apollo') Apollo
        p#passwordHelpText.help-text Your password must have at least 10 characters, a number, and an Emoji.

      .row
        fieldset.fieldset
          legend Check these out
          input#checkbox12(type='checkbox')
          label(for='checkbox12') Checkbox 1

      .row
        .small-10.columns
          .slider(data-slider='', data-initial-start='50', data-step='5')
            span.slider-handle(data-slider-handle='', role='slider', tabindex='1', aria-controls='sliderOutput2')
            span.slider-fill(data-slider-fill='')
        .small-2.columns
          input#sliderOutput2(type='number')

      .row
        .slider(data-slider='', data-initial-start='25', data-initial-end='75')
          span.slider-handle(data-slider-handle='', role='slider', tabindex='1')
          span.slider-fill(data-slider-fill='')
          span.slider-handle(data-slider-handle='', role='slider', tabindex='1')
          input(type='hidden')
          input(type='hidden')


      .row
        .switch.tiny
          input#tinySwitch.switch-input(type='checkbox', name='exampleSwitch')
          label.switch-paddle(for='tinySwitch')
            span.show-for-sr Tiny Sandwiches Enabled

  .off-canvas-content
    button.button.float-right(type='button', data-toggle='offCanvasRight') Open Right

  script.
