doctype
html
  head
    title="Maxwell"

    meta(http-equiv="content-type", content="text/html; charset=UTF8")

    link(rel='stylesheet', href='../views/css/theme.css')
    link(rel="stylesheet", href='../bower_components/jquery-ui/themes/smoothness/jquery-ui.min.css')
    link(rel='stylesheet', href='../bower_components/rickshaw/rickshaw.css')

    script(type="text/javascript", src="../bower_components/dat.gui/dat.gui.js")
    script(type="text/javascript", src="../bower_components/jquery/dist/jquery.js")
    script(type="text/javascript", src="../bower_components/jquery-ui/jquery-ui.js")
    script(type="text/javascript", src="../bower_components/sketch.js/js/sketch.js")
    script(type="text/javascript", src="../bower_components/d3/d3.js")

    script(type="text/javascript", src="../dist/maxwell.js")

    script.
      circuit = Maxwell.createCircuit("Test");

  body
    - for (var i=0; i<examples.length; ++i)
      li
        a(href= examples[i])= examples[i]

    block body
